name: Release Mod

on:
  push:
    tags:
      - "v*" # Triggers when you push a tag starting with v (e.g. v1.0.2)

jobs:
  build-and-release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    strategy:
      matrix:
        # Use these Java versions
        java: [ 21 ]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'

      - name: grant execute permission for gradlew
        run: chmod +x gradlew

      - name: build
        run: ./gradlew build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          # Uploads all jars generated in build/libs (Release, Sources, Dev)
          # You can specify a single file if you prefer: build/libs/${{ env.ARCHIVES_NAME }}-${{ env.VERSION }}.jar
          files: build/libs/*.jar
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Publish Configuration
        run: |
          cat <<EOF > publish-config.gradle
          allprojects {
              plugins.withType(MavenPublishPlugin) {
                  publishing {
                      repositories {
                          maven {
                              name = "GitHubPackages"
                              url = uri("https://maven.pkg.github.com/${{ github.repository }}")
                              credentials {
                                  username = System.getenv("GITHUB_ACTOR")
                                  password = System.getenv("GITHUB_TOKEN")
                              }
                          }
                      }
                  }
              }
          }
          EOF

      - name: Publish to GitHub Packages
        run: ./gradlew publish --init-script publish-config.gradle
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}